.row{
    
    padding: 10px;
    
}

/*h1{
    color: white;

}
h3{
    color: white;

}*/
p{
color: black;
font-size: x-large;

}
ul{
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.fineartamerica.com%2Fimages-medium-large%2Fpath-through-the-woods-inistioge-trish-punch.jpg&f=1&nofb=1');
    color: white;
    margin: 5px;
    font-weight: bolder;
    text-align: left
}
button{

    align-self: center;
    margin: 25px ;
}
.badge{
color: azure;
}

.badge1{
    color: white;
    background-color: rgba(59, 185, 21, 0.698);
    
}
.badge2{
    
    margin: 25px;
    color: white;
    background-color: red;
}
.badge3{
    color: white;
    background-color: Black;
}